{% extends 'interport/base.html' %}

{% block content %}
<main>
  <div class="container idea">
  <div class="row card-panel #fff8e1 amber lighten-5">
    <div class="col s5">
     <img class="responsive-img materialboxed" id="profile-img" src="../../static/pictures/mauro1.jpg">       
    </div>
    <div id="author-text">
      <h3>The author</h3>
      <h6>Hello everyone!</h6>
      <p>I am an Erasmus Student of Computer Science Engineering at the TU/e. My main interests are in Computer Science. I love music and art. I discovered during these months that my passion will be travel the world so I decided to record all the friends that I will visit in the world. Further they are better will be the journey!</p>
    </div>
   </div>
  </div>
</main>
{% endblock content %}
