{% extends 'interport/base.html' %}

{% block content %}
<main>
  <div class="container idea">
  <div class="row card-panel #fff8e1 amber lighten-5">
    <div class="col s12">
    <h1>Future</h1>
    <p> In this moment the website is a static slideshow of countries and their relative person. The purpose is to create in the future a website to store and upload dinamically the list of people met. It's easy to understand that we can meet more than one person from a specific country. Also it would be good and reasonable to not only store the name of the person but also adding personal notes, information pictures ect. The user could decide to make her list private or not and decide what to show.</p>
    </div>
   </div>
  </div>
</main>
{% endblock content %}






