{% extends 'interport/base.html' %}

{% block content %}
<div class="container">

    <div class="row">

      <div class="col s12">
    	<h3 id="photogallery-title">Photogallery</h3>
      </div>

    <div class="carousel carousel-slider center hoverable" data-indicators="true">
    <div class="carousel-item italia" href="https://en.wikipedia.org/wiki/Molfetta">
      <a class="modal-trigger waves-effect waves-light btn blue" href="https://en.wikipedia.org/wiki/Molfetta">Italia</a>
      <p class="white-text">Mauro</p>  
    </div>
    <div class="carousel-item spagna" href="#two!">
      <a class="btn red" href="https://en.wikipedia.org/wiki/Burgos">España</a>
      <p class="white-text">Diego</p>
    </div>
    <div class="carousel-item brasil" href="#three!">
      <a class="btn orange" href="https://en.wikipedia.org/wiki/Rio_de_Janeiro">Brasil</a>
      <p class="white-text">Lauro</p>
    </div>
    <div class="carousel-item slovakia" href="#four!">
      <a class="btn yellow black-text" href="https://en.wikipedia.org/wiki/Bratislava">Slovensko</a>
      <p class="white-text">Soňa</p>
    </div>
    <div class="carousel-item france" href="#four!">
      <a class="btn purple" href="https://en.wikipedia.org/wiki/Paris">France</a>
      <p class="white-text">Sophie</p>
    </div>
    <div class="carousel-item germany" href="#four!">
      <a class="btn red" href="https://en.wikipedia.org/wiki/Aachen">Deutschland</a>
      <p class="white-text">Anne</p>
    </div>
    <div class="carousel-item turkey" href="#four!">
      <a class="btn brown" href="https://en.wikipedia.org/wiki/Istanbul">Türkiye</a>
      <p class="white-text">Mustafa</p>
    </div>


  </div>
</div>
{% endblock content %}


