{% extends 'interport/base.html' %}

{% block content %}
<main>
  <div class="container idea">
  <div class="row card-panel #fff8e1 amber lighten-5">
    <div class="col s12">
    <h1>Idea</h1>
    <p> During my Erasmus I always meet people from all over the world. This is personally one of the best aspect of the project. Durign a lazy afternoon I started making a list  of all the countries that I "visited" just talking with the people. I was really surprised of how far I travelled so I decided to record every single step that I make in the world. This website is my own personal collection. Each name reminds me a country and viceversa so it's impossible to forget them!</p>
    </div>
   </div>
  </div>
</main>
{% endblock content %}


