*{

}


html{
     font-family: 'Lobster', cursive;
   font-family: 'Raleway', sans-serif;
	height: 100%;
	/*background-color: rgba(229,194,133,0.6);*/
}

body{

	position: relative;
	width: 100%; height: 100%;
	background-image: url("https://static.pexels.com/photos/35107/pexels-photo.jpg");
	background-color: rgba(229,194,133,0.6);
	background-position: center right;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.comment {
    margin: 20px 0px 20px 20px;
}



.top-page {
  background-color: rgba(229,194,133,0.80); /* background-image: url("https://static.pexels.com/photos/35107/pexels-photo.jpg");**/
 /* border-radius: 20px;*/
}


#main-title, #bar-options{
	text-decoration: none;
	color: white;
	text-align: center;
}

#main-title{
	font-family: 'Lobster', cursive;
	text-align: center;
}

#bar-options {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
}

#photogallery-title {
  text-decoration: none;
	color: white;
	font-family: 'Lobster', cursive;
	text-align: center;
}


.carousel-item {
  background-position: center;	
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;          
}

.carousel-item h2{
  width: 130px;
  margin:auto;
  background-color: rgba(0,0,0,0.55);
  font-family: 'Lobster', cursive;
}

.carousel-item p{
	width: 130px;
    margin:auto;
    background-color: rgba(0,0,0,0.55);
	font-family: 'Raleway', sans-serif;
}


.italia {
	background-image: url("../pictures/molfetta.jpg");
	background-position: right;
	color: #5595E5;	
}
	
.slovakia {
   background-image: url("../pictures/Bratislava.jpg");
   color: yellow;
}

.spagna {
	color: red;
	background-image: url("../pictures/burgos.jpg");
}

.france {
	color: purple;
	background-image: url("../pictures/paris.jpg");
}

.brasil {
  color: orange;
	background-image: url("../pictures/rio.jpg");
}

.germany {
  color: red;
  background-image: url("../pictures/aachen.jpg");
}

.turkey {
  color: brown;
  background-image: url("../pictures/istanbul.jpg");
}


.idea{
   background-color: rgba(229,194,133,0.85);
   border-radius: 5px;
   margin-bottom: 80px;
}

.idea h1{
   padding: 0px 10px;
   color: black;
   text-align: center;
   font-family: 'Lobster', cursive;
}



.idea p{
	padding: 0px 10px;
   color: black;
   text-align: justify;
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
}


#profile-img{
	border-radius: 100px;
}

#author-text h3,h6{
   color: black;
   text-align: center;
   font-family: 'Lobster', cursive;

}

#author-text p{
   color: black;
   font-family: 'Raleway', sans-serif;

}


#modal-btn{
  position: bottom;
  margin: auto;
}




